.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/1\ -\ Rough Notes
content/2\ -\ Source Material
content/3\ -\ Tags
content/4\ -\ Indexes
content/5\ -\ Templates
content/Personal\ Notes
content/Projects
content/Unpublished\ Notes
content/To-Do\ List.md
content/Welcome!.md